.converter {
    border: 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: rgba(148, 221, 255, 0.281);
}

.title {
    margin-bottom: 10px;
}

.image {
    width: 40px;
    margin-right: 15px;
}

.button {
    align-self: center;
    margin-left: 10px;
    margin-bottom: 15px;
}

.button > button {
    cursor: pointer;
    border: none;
    background: url('../../assets/img/exchange.png') center no-repeat;
    width: 30px;
    height: 30px;
    outline: none;
}

.input {
    display: flex;
    margin-bottom: 20px;
}

.input > input {
    margin-right: 5px;
}

.block {
    display: flex;
}

